/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*common*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}
a{
	text-decoration: none;
	color: black;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
p{
	font-size: 13px;
	margin: 30px;
}
strong{
	font-weight: bold;
	color: black;
}
label{
	font-size: 13px;
}
#notice{
	color: green;
}
body{
	margin: 30px;
}
thead{
	color: black;
	padding: 7px 100px;
	text-align: center;
}
tbody{


}
th{
	color: black;
}
tr{
	color: black;
}
td{
	padding-left: 10px;
	padding-top: 7px;
}
table{
	font-size: 13px;
}


h1{
	color: black;
}
h2{
	padding-top: 7px;
	padding-bottom: 7px;
	color: black;
}
h3{
	padding-top: 7px;
	padding-bottom: 7px;
	color: black;
}
h4{
	color: black;
}

.form_block{
	margin-top: 20px;
}
.form_title{
	margin-top: 7px;
}
.form_body{
	margin-top: 7px;
}
.form_create{
	margin-top: 7px;
}
